endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey ""

sv_licenseKey 


#######################################################################################################################################
# Serveur Connection
#######################################################################################################################################

sv_maxclients 32

set mysql_debug 0
set mysql_debug_output "console"
set mysql_slow_query_warning 5000
#set mysql_slow_query_warning 200 #Pour les tests

set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="


set es_enableCustomData 1

set onesync_enabled 0
#set onesync_enableInfinity 1
#set onesync_enableBehond 1
#set onesync_radiusFrequency true
#set onesync_distanceCullVehicles true #Provoque l'instanciation(Instance donc joueurs invisible) des joueurs, je ne suis pas sûr de la cause.
set onesync_forceMigration false #Règle les IA mais peut causer des problèmes sur les réparations des voitures.
set onesync_workaround763185 false

#########################################################################################################################################
# FiveM
#######################################################################################################################################

ensure mapmanager 
ensure chat
ensure spawnmanager
ensure fivem       
ensure sessionmanager

########################################################################################################################################
# Permission
#######################################################################################################################################

add_ace group.admin command.potato allow
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace group.admin clrac.all allow
add_ace group.superadmin clrac.all allow
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

#######################################################################################################################################
# Serveur
#######################################################################################################################################

ensure rconlog
##### MY SQL #### 
ensure mysql-async

###### ES ######
ensure async
ensure essentialmode
ensure esplugin_mysql
ensure es_admin2
ensure es_extended
ensure cron
ensure es_camera
ensure scriptpnj


#######################################################################################################################################
# UI
#######################################################################################################################################

##### LIBS #####
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list

#######################################################################################################################################
# ESX
#######################################################################################################################################

###### ESX - BASE ######
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_billing
ensure esx_datastore
ensure esx_license
ensure esx_society
ensure esx_service
ensure instance 
ensure esx_property

###### SKIN #####
ensure esx_identity
ensure esx_skin 
ensure skinchanger

###### BESOINS ####
ensure esx_status
ensure esx_basicneeds
ensure esx_nHud-job2
ensure Loadingscreen

####  SHOPS ####
ensure esx_barbershop
ensure esx_clotheshop

#######################################################################################################################################
# ECT
#######################################################################################################################################

##### ECT #####

ensure new_banking
ensure ft_libs
ensure bob74_ipl

##### PHONE ####
ensure esx_addons_gcphone
ensure gcphone
ensure vdk_call
ensure mumble-voip

#######################################################################################################################################
# JOBS
#######################################################################################################################################



##### ILLEGAL ####

#######################################################################################################################################
# HUD/ MAPS
#######################################################################################################################################
##### MENU #####
ensure krz_personalmenu


#### Mapping ####
 
ensure pillbox-v2

#######################################################################################################################################
# Configuration
#######################################################################################################################################

sv_scriptHookAllowed 0

sets tags "roleplay"
sets locale "fr-FR" 
sets Développeur ""
sets Fondateur ""
sets Etat "✅ Ouvert"
sets Discord ""

sv_hostname ""

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""


### BASE CONSTRUITE PAR MOLIII ET FARES  ###
#### VOUS POUVEZ L'EXPLOITER COMME VOUS LE SENTEZ ####
##### CECI EST UNE BASE NON FOURNIE (C'est a dire sans script, uniquement les fichiers de base) ###
##### LISEZ LES README ###
